<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <ul class="flex items-center space-x-4">
      <li>
        <a
          href="{{ url_for('dashboard') }}"
          class="text-white hover:text-gray-300"
          >Home</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('history') }}"
          class="text-white hover:text-gray-300"
          >Histórico</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('shared_collections') }}"
          class="text-white hover:text-gray-300"
          >Coleções Compartilhadas</a
        >
      </li>
    </ul>
    <div class="flex items-center space-x-4">
      <img
        src="{{ session['user_info']['picture'] }}"
        alt="Avatar"
        class="w-8 h-8 rounded-full"
      />
      <span class="text-white">{{ session['user_info']['name'] }}</span>
      <a href="{{ url_for('logout') }}" class="text-white hover:text-gray-300"
        >Logout</a
      >
    </div>
  </div>
</nav>
