{% extends 'base.html' %} {% block title %}Configuração Inicial{% endblock %} {%
block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white p-6 rounded shadow">
    <h1 class="text-2xl font-bold mb-4">Defina as colunas da sua tabela</h1>
    <form method="POST">
      <div id="fields">
        <input
          type="text"
          name="column_names"
          placeholder="Nome da Coluna"
          required
          class="border border-gray-300 p-2 rounded w-full mb-2"
        />
      </div>
      <button
        type="button"
        onclick="addField()"
        class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 mb-4"
      >
        Adicionar Campo
      </button>
      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >
        Salvar
      </button>
    </form>
  </div>
</div>

<script>
  function addField() {
    var container = document.getElementById("fields");
    var input = document.createElement("input");
    input.type = "text";
    input.name = "column_names";
    input.placeholder = "Nome da Coluna";
    input.required = true;
    input.className = "border border-gray-300 p-2 rounded w-full mb-2";
    container.appendChild(input);
  }
</script>
{% endblock %}
