{% extends 'base.html' %} {% block title %}Configuração Inicial{% endblock %} {%
block content %}
<div class="container">
  <h1>Defina as colunas da sua tabela</h1>
  <form method="POST">
    <div id="fields">
      <input
        type="text"
        name="column_names"
        placeholder="Nome da Coluna"
        required
      />
    </div>
    <button type="button" onclick="addField()">Adicionar Campo</button>
    <button type="submit">Salvar</button>
  </form>
</div>

<script>
  function addField() {
    var container = document.getElementById("fields");
    var input = document.createElement("input");
    input.type = "text";
    input.name = "column_names";
    input.placeholder = "Nome da Coluna";
    input.required = true;
    container.appendChild(input);
  }
</script>
{% endblock %}
